<h1>Add Lecture</h1>


<form action="/add/Lecture" method="POST">
    <label>Lecture ID:</label><br>
    <input type="text" name="_id"><br>
    <label> Name:</label><br>
    <input type="text" name="name"><br><br>
    <label> Dept: </label><br>
    <input type="text" name="dept"><br><br>
    <input type="submit" value="Add">

    <a href="/">Home </a>
</form>

