<style>
table th , td{
border: 1px solid black;
}
</style>

<h1>Students</h1>




<Button onclick="window.location.href='/addStudent'"> add Student</Button>

<table>
    <tr>
        <th>StudentID</th>
        <th>Name</th>
        <th>Gpa</th>
        <th>Action</th>
        
    </tr>
    <% students.forEach((student)=>
        { %>
        <tr>
            <td>
                <%= student.sid %>
            </td>
            <td>
                <%= student.name %>
            </td>
            <td>
                <%= student.gpa %>
            </td>
            <td>
                <a href="/student/delete/<%= student.sid %>">Delete</a>
            </td>
            
        </tr>
        <% }) %>
</table>

<a href="/">Home</a>